@import "./design-system/tokens.css";

body {
  margin: 0;
  font-family: var(--ds-font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--ds-font-mono);
}
