.App-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 3em;
  color: var(--ds-color-text-muted);
  font-size: var(--ds-font-size-md);
  position: sticky;
}
