.Menu-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 5%;
  right: 5%;
  border-radius: 3px;
  box-shadow: 0px 4px 102px -5px rgba(246, 246, 246, 0.75);
  background-color: rgb(99, 108, 115);
  cursor: pointer;
  z-index: 2;
}
