.DistanceSelector {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
  & button {
    font-size: 0.5em;
    font-weight: var(--ds-font-weight-bold);
    padding: 0.7em 3em 0.5em;
  }
}
